:root, body {
  /* variables 🌸*/
  --spacing-default: 24px;
  --spacing-thin: 18px;
  --spacing-gap: 28px;
  --border-radius: 24px;
  --color-grey-100: #f1efef;
  --color-grey-200: #d7d7d7;
  --color-grey-900: #242424;
  --shadow: 2px 2px 10px var(--color-grey-200);
  
  /* font information */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--color-grey-900);

  /* span full page */
  margin: 0;
  padding: 0 0;

  background-color: black;
}

h1, h2, h3{
  padding: 0px 0px;
  margin: 0px;
}

button{
  height: 26px;
  width: 50%;
  margin-top: var(--spacing-thin);
  border: none;
  background-color: var(--color-grey-100);
  border-radius: 13px;
}

input{
  border: none;
  border-bottom: solid 1px var(--color-grey-200);
}

.display {
  /* size */
  height: 100vh; 
  widows: 100vw;

  /* orientation */
  display: flex;
  flex: auto;
  flex-direction: row;
  gap: var(--spacing-gap);
  
  /* color */
  background-color: var(--color-grey-100);
}

.menuColumn {
  /* size */
  width: 50%;
  padding: var(--spacing-default) var(--spacing-default);

  /* orientation */
  display: flex;
  flex: auto;
  flex-direction: column;
  gap: var(--spacing-gap);

  /* color */
  /* background-color: pink; */
  
}

.docColumn {
  /* size */
  width: 100%;
  padding: var(--spacing-default) var(--spacing-default);

  /* orientation */
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-gap);
}

#menu {
  /* size */
  padding: var(--spacing-thin) var(--spacing-thin);

  /* shape */
  border-radius: var(--border-radius);

  /* color */
  background-color: white;
  box-shadow: var(--shadow);

  /* orientation */
  display: flex;
  flex-direction: column;
}

#control {
  /* size */
  padding: var(--spacing-thin) var(--spacing-thin);

  /* shape */
  border-radius: var(--border-radius);

  /* color */
  background-color: var(--color-grey-200);
}

#render {
  /* size */
  width: 100%;
  aspect-ratio: 1/1.4142;

  /* color */
  background-color: white;
  box-shadow: var(--shadow);
}

#contentHeader, #contentContact {
  /* size */
  padding: var(--spacing-thin) var(--spacing-thin);
  width: 100%;
}

#contentContact {
  /* orientation */
  display: flex;
  flex: auto;
  flex-direction: row;
  justify-content: left;
  gap: var(--spacing-gap);
}