:root, body {
  /* 🟰variables */
  --spacing-default: 24px;
  --spacing-thin: 12px;
  --spacing-large: 28px;
  --spacing-gap: 28px;
  --border-radius: 24px;
  --color-grey-000: #f6f6f67a;
  --color-grey-100: #f1efef;
  --color-grey-200: #d7d7d7;
  --color-grey-900: #242424;
  --color-accent-500: #25365b;
  --shadow: 2px 2px 10px var(--color-grey-200);
  --interaction-height: 26px;
  --render-dynamic-large: calc(3vw);
  --render-dynamic-medium: calc(2.5vw);
  --render-dynamic-small: calc(2vw);
  --render-dynamic-default: calc(1.5vw);
  --render-dynamic-smaller: calc(1vw);
  --weight-thin: 200;   
  --weight-medium: 400; 
  --weight-bold: 600;   
  --weight-super: 750;  
  
  /* 🅰️font */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--color-grey-900);

  /* 🔎size */
  margin: 0;
  padding: 0 0;

  /* ❇️color */
  background-color: var(--color-grey-100);

  /* ➡️orientation */
  display: flex;
  justify-content: center;
  min-width: fit-content;
}

h1, h2, h3{
  padding: 0px 0px;
  margin: 0px;
}

h1{
  font-size: 26px;
  padding-bottom: var(--spacing-thin);
}

h2{
  font-size: 24px;
}

h3{
  font-size: 18px;
}


button{
  /* 🔎size */
  height: var(--interaction-height);
  width: 50%;
  margin-top: var(--spacing-thin);
  margin-bottom: 12px;

  /* 🟪shape */
  border: none;
  border-radius: 13px;

  /* ❇️color */
  background-color: var(--color-grey-100);
  transition: background-color 500ms;
}

button:hover{
  background-color: var(--color-grey-200);
}

input{
  /* 🔎size */
  height: var(--interaction-height);
  margin-bottom: var(--spacing-thin);

  /* 🟪shape */
  border: none;
  border-bottom: solid 1px var(--color-grey-200);
}

.display {
  /* 🔎size */
  width: 95vw;
  padding-top: var(--spacing-thin);
  max-width: 1500px;

  /* ➡️orientation */
  display: flex;
  flex: auto;
  flex-direction: row;
}

.menuColumn {
  /* 🔎size */
  width: 60%;
  padding: var(--spacing-default) var(--spacing-default);
  max-width: 400px;

  /* ➡️orientation */
  display: flex;
  flex: auto;
  flex-direction: column;
  gap: var(--spacing-gap);
}

.docColumn {
  /* 🔎size */
  width: 100%;
  padding: var(--spacing-default) var(--spacing-default);

  /* ➡️orientation */
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-gap);
}

#menu {
  /* 🔎size */
  padding: var(--spacing-default) var(--spacing-default);

  /* 🟪shape */
  border-radius: var(--border-radius);

  /* ➡️orientation */
  display: flex;
  flex-direction: column;

  /* ❇️color */
  background-color: white;
  box-shadow: var(--shadow);
}

#menuEnd{
  display: flex;
  justify-content: center; 
}

#control {
  /* 🔎size */
  padding: var(--spacing-thin) var(--spacing-thin);

  /* 🟪shape */
  border-radius: var(--border-radius);

  /* ❇️color */
  background-color: var(--color-grey-200);
}

#render {
  /* 🔎size */
  width: 100%;
  max-width: 1200px;
  aspect-ratio: 1/1.4142;

  /* ❇️color */
  background-color: white;
  box-shadow: var(--shadow);
}

#content, .header{
  /* 🔎size */
  padding: var(--render-dynamic-large) var(--render-dynamic-large);
}

.header{
  /* 🔎size */
  font-size: var(--render-dynamic-large);
  font-weight: var(--weight-bold);

  /* ❇️color */
  color: white;
  background-color: var(--color-accent-500);
}

.subheader{
  /* 🔎size */
  font-size: var(--render-dynamic-small);
  padding-top: var(--render-dynamic-smaller);
  border-bottom: 1px solid black;
  margin-bottom: var(--render-dynamic-smaller);
  font-weight: var(--weight-bold);
}

.contact, .itemHeader {
  /* 🔎size */
  font-size: var(--render-dynamic-default);

  /* ➡️orientation */
  display: flex;
  flex: auto;
  flex-direction: row;
  gap: var(--render-dynamic-smaller);
}

.item{
  /* 🔎size */
  font-size: var(--render-dynamic-default);
  padding-left: var(--render-dynamic-medium);
  padding-bottom: var(--render-dynamic-smaller);
}

.itemHeader{
  font-weight: var(--weight-super);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divider{
  border-bottom: 1px solid var(--color-grey-200);
  margin-top: 12px;
  margin-bottom: 12px;
}

.circle{
  background-color: var(--color-grey-200);
  width: 12px;
  height: 12px;
  border-radius: 6px;
  margin-top: 12px;
  margin-left: 12px;
}

.row{
  padding: 6px 0px;
  display: flex;
  gap: 24px;
}

.row:hover{
  background-color: var(--color-grey-000);
  border-radius: 12px;
}





