/*  
 NEED TO ADDRESS
    - Display isn't taking full screen, dispite parent filling space
    - 
    - 
 */

:root, body {
  /* variables 🌸*/
  --spacing-default: 24px;
  --spacing-thin: 18px;
  --spacing-gap: 28px;
  --border-radius: 24px;
  --color-grey-100: #e6e6e6;
  --color-grey-200: #d7d7d7;
  --color-grey-900: #242424;
  
  /* font information */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: var(--color-grey-900);

  /* span full page */
  margin: 0;
  padding: 0 0;

  background-color: pink;
}

h1{
  padding: 0px 0px;
  margin: 0px;
}

.display {
  /* size */
  height: 100vh; 
  widows: 100vw;

  /* orientation */
  display: flex;
  flex: auto;
  flex-direction: row;
  gap: var(--spacing-gap);
  
  /* color */
  background-color: white;
}

.menuColumn {
  /* size */
  width: 50%;
  padding: var(--spacing-default) var(--spacing-default);

  /* orientation */
  display: flex;
  flex: auto;
  flex-direction: column;
  gap: var(--spacing-gap);

  /* color */
  /* background-color: pink; */
  
}

.docColumn {
  /* size */
  width: 100%;
  padding: var(--spacing-default) var(--spacing-default);

  /* orientation */
  display: flex;
  flex: auto;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-gap);

  /* color */
  background-color: var(--color-grey-100);
  
}

#menu {
  /* size */
  padding: var(--spacing-thin) var(--spacing-thin);

  /* shape */
  border-radius: var(--border-radius);

  /* color */
  background-color: var(--color-grey-100);
}

#control {
  /* size */
  padding: var(--spacing-thin) var(--spacing-thin);

  /* shape */
  border-radius: var(--border-radius);

  /* color */
  background-color: var(--color-grey-200);
}

